<div id="hero-container">
    <ul class="cb-slideshow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
    <div class="home-header">
        <div class="home-logo osLight">Наша память</div>
        <a href="#" class="home-navHandler visible-xs" toggle-header-menu><span class="fa fa-bars"></span></a>
        <div class="home-nav">
            <ul>
                <li><a ui-sref="root.veterans">Ветераны</a></li>
                <li ng-if="!authenticated"><a ui-sref="root.login">Вход</a></li>
                <li ng-if="!authenticated"><a ui-sref="root.register">Регистрация</a></li>
                <li><a ng-href="">{{ authUser.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="home-caption">
        <div class="home-title">Воспоминания ветеранов Великой Отечественной Войны</div>
    </div>
</div>
<!-- Content -->

<div class="home-wrapper">
    <div class="home-content">
        <h2 class="osLight">Разделы сайта</h2>
        <div class="row pb40">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a ui-sref="root.veterans" class="propWidget-2">
                    <div class="fig">
                        <img src="assets/images/jz3OuoMDFEY.jpg" alt="Воспоминания ветеранов">
                        <img class="blur" src="assets/images/jz3OuoMDFEY.jpg" alt="Воспоминания ветеранов">
                        <div class="opac"></div>
                        <h3 class="osLight">Воспоминания ветеранов</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="assets/images/127686_or.jpg" alt="Братские могилы">
                        <img class="blur" src="assets/images/127686_or.jpg" alt="Братские могилы">
                        <div class="opac"></div>
                        <h3 class="osLight">Братские могилы</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="single.html" class="propWidget-2">
                    <div class="fig">
                        <img src="assets/images/1013738603.jpg" alt="Интерактивные карты">
                        <img class="blur" src="assets/images/1013738603.jpg" alt="Интерактивные карты">
                        <div class="opac"></div>
                        <h3 class="osLight">Интерактивные карты</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="home-footer">
    <div class="home-wrapper">
        <div class="copyright">&copy; 2015 ФИТР БНТУ</div>
    </div>
</div>
