<div class="osLight align-left">
    <p translate="components.comment.numberComments"
          translate-values="{comments: vm.comments.length || 3}"
          translate-interpolation="messageformat"></p>
</div>

<div class="post-comments">
    <div class="comment" ng-repeat="comment in vm.comments track by $index">
        <div class="commentAvatar">
            <img class="avatar" ng-src="assets/images/avatar-1.png" alt="avatar">
            <div class="commentArrow bg-w"><span class="fa fa-caret-left"></span></div>
        </div>
        <div class="commentContent bg-w">
            <div class="commentName">
                {{::comment.userName}}
            </div>
            <div class="commentBody">
                {{::comment.message}}
            </div>
            <div class="commentActions">
                <div class="commentTime">
                    <span class="icon-clock"></span> {{comment.createdDateTime | amDateFormat:'D MMMM YYYY'}}
                </div>
                <ul>
                    <li ng-if="::vm.authUser.userId === comment.userId">
                        <a href="javascript:void(0);" ng-click="vm.removeComment(comment.id)">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<form role="form" class="pb20">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group" ng-class="{'has-error': vm.emptyMessage}">
                <textarea placeholder="{{'components.comment.placeholder' | translate}}"
                          class="form-control"
                          rows="3"
                          om-enter-submit="vm.sendComment(vm.message)"
                          ng-keyup="vm.emptyMessage = false;"
                          ng-model="vm.message"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a href="javascript:void(0);" class="btn btn-green isThemeBtn" ng-click="vm.sendComment(vm.message)">
            {{'components.comment.btn.send' | translate}}
        </a>
    </div>
</form>
