<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()">
        <span>×</span>
    </button>
    <h4 class="modal-title">{{::vm.title}}</h4>
</div>

<div class="modal-body">
    <form role="form" name="vm.articleForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"
                     ng-class="{'has-error': vm.submitted && vm.articleForm.title.$invalid}">
                    <label for="title" class="control-label">
                        {{::'article.modal.form.title.label' | translate}}
                        <span class="text-red">&#42;</span>
                    </label>
                    <input type="text"
                           class="form-control"
                           name="title"
                           autocomplete="off"
                           id="title"
                           placeholder="{{::'article.modal.form.title.placeholder' | translate}}"
                           required
                           ng-model="vm.article.title">
                    <div ng-messages="vm.articleForm.title.$error" ng-if="vm.submitted">
                        <p class="help-block" ng-message="required">{{::'general.form.errors.required' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <a class="btn btn-green"
                       accept="image/*"
                       ngf-select="vm.uploadImage($file)"
                       ngf-pattern="'image/*'">
                        <i class="fa fa-picture-o"></i>&nbsp;&nbsp;
                        {{::'article.modal.btn.addPhotos' | translate}}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <span class="text-muted text-center">{{vm.article.image}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"
                     ng-class="{'has-error': vm.submitted && vm.articleForm.shortDescription.$invalid}">
                    <label class="control-label" for="shortDescription">
                        {{::'article.modal.form.shortDescription.label' | translate}}
                        <span class="text-red">&#42;</span>
                    </label>
                    <textarea id="shortDescription"
                              class="form-control"
                              name="shortDescription"
                              placeholder="{{::'article.modal.form.shortDescription.placeholder' | translate}}"
                              rows="6"
                              required
                              ng-model="vm.article.shortDescription"></textarea>
                    <div ng-messages="vm.articleForm.shortDescription.$error" ng-if="vm.submitted">
                        <p class="help-block" ng-message="required">{{::'general.form.errors.required' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"
                     ng-class="{'has-error': vm.submitted && vm.articleForm.fullDescription.$invalid}">
                    <label class="control-label" for="fullDescription">
                        {{::'article.modal.form.fullDescription.label' | translate}}
                        <span class="text-red">&#42;</span>
                    </label>
                    <textarea id="fullDescription"
                              name="fullDescription"
                              rows="6"
                              froala="vm.froalaOptions"
                              required
                              ng-model="vm.article.fullDescription"></textarea>
                    <div ng-messages="vm.articleForm.fullDescription.$error" ng-if="vm.submitted">
                        <p class="help-block" ng-message="required">{{::'general.form.errors.required' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="clearfix">
        <a class="btn btn-blue"
           ng-click="vm.saveArticle(vm.articleForm.$valid)"
           ng-disabled="vm.sendingData">
            <i class="fa fa-spinner fa-spin" ng-if="vm.sendingData"></i> {{::vm.btnSaveText}}
        </a>
    </div>
</div>
