<div class="article-content" ui-view style="margin-top: 60px;">
    <div class="blog-content">
        <div class="home-wrapper ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
                            <h2 class="osLight">{{'article.title' | translate}}</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="javascript:void(0);" class="btn btn-default pull-right" ng-click="vm.saveArticle()" ng-if="authUser">
                                {{'article.btn.addArticle' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="article in vm.articleList.articles">
                            <div class="article">
                                <a ui-sref="main.articles.detail({id: article.id})" class="image" ng-if="article.image">
                                    <img ng-src="{{article.image}}" alt="image">
                                </a>
                                <div class="article-category"></div>
                                <h3 class="osLight">
                                    <a ui-sref="main.articles.detail({id: article.id})">
                                        {{article.title}}
                                    </a>
                                </h3>
                                <p>{{article.shortDescription}}</p>
                                <div class="footer clearfix">
                                    <div class="pull-left">
                                        <a ui-sref="main.articles.detail({id: article.id})">
                                            {{'article.btn.readMore' | translate}}
                                        </a>
                                    </div>
                                    <div class="pull-right">
                                        <span style="cursor: pointer;" ng-click="vm.deleteArticle(article.id, $index)">
                                            <i class="fa fa-trash"></i>&nbsp;
                                            <span class="text-muted">
                                                {{'article.btn.remove' | translate}}
                                            </span>
                                        </span>
                                        &nbsp;&nbsp;
                                        <span style="cursor: pointer;" ng-click="vm.saveArticle(article)">
                                            <i class="fa fa-pencil"></i>&nbsp;
                                            <span class="text-muted">
                                                {{'article.btn.edit' | translate}}
                                            </span>
                                        </span>
                                        &nbsp;&nbsp;|&nbsp;&nbsp;
                                        <i class="fa fa-user"></i>&nbsp;
                                        <span class="text-muted">
                                            {{article.user.firstName && article.user.lastName ? article.user.firstName + ' ' + article.user.lastName : article.user.username}}
                                        </span>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-eye"></i>&nbsp;
                                        <span class="text-muted">
                                            {{article.views}}
                                        </span>
                                        &nbsp;&nbsp;
                                        <i class="fa fa-clock-o"></i>&nbsp;
                                        <span class="text-muted">
                                            {{article.createdDateTime | amDateFormat:'D MMMM YYYY hh:mm'}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-footer">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Company</div>
                <ul class="footer-nav pb20">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Terms &amp; Privacy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Discover</div>
                <ul class="footer-nav pb20">
                    <li><a href="#">Become a Member</a></li>
                    <li><a href="#">Properties List</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">Lists</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Get in Touch</div>
                <ul class="footer-nav pb20">
                    <li class="footer-phone"><span class="fa fa-phone"></span> 800 234 67 89</li>
                    <li class="footer-address osLight">
                        <p>516 Green St</p>
                        <p>San Francisco, CA 94133</p>
                        <p>United States</p>
                    </li>
                    <li><a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-google-plus"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-linkedin"></span></a> </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="osLight footer-header">Subscribe to Our Newsletter</div>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <a href="#" class="btn btn-green btn-block isThemeBtn">Subscribe</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="copyright">Real estate web application<br> © 2014</div>
    </div>
</div>

