<div class="blog-content">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <h2 class="osLight">Latest Posts</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="article">
                            <a href="blog-post.html" class="image">
                                <img src="http://cdn.topwar.ru/uploads/posts/2012-08/1345453844_01.jpg" alt="image">
                            </a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Architecture</a></div>
                            <h3 class="osLight">
                                <a href="blog-post.html">Польские концлагеря для русских и немцев, или За что извинялся Обама?</a>
                            </h3>
                            <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-2.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Architecture</a></div>
                            <h3 class="osLight"><a href="blog-post.html">Provocative Home Design Re-Shaping The Landscape</a></h3>
                            <div class="footer"><a href="#">Jane Smith</a>, <a href="#">Sep 3, 2014</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-3.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Apartments</a></div>
                            <h3 class="osLight"><a href="blog-post.html">Luminous 3 Bedroom Apartment Flaunting Modern Style</a></h3>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 3, 2014</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-4.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Living Room</a></div>
                            <h3 class="osLight"><a href="blog-post.html">How Does A Designer Home Look Like</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-5.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Architecture</a></div>
                            <h3 class="osLight"><a href="blog-post.html">Stylish Modern Ranch Exuding a Welcoming Feel</a></h3>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 3, 2014</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-6.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Architecture</a></div>
                            <h3 class="osLight"><a href="blog-post.html">Private Contemporary Home Balancing Openness</a></h3>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 2, 2014</a></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="article">
                            <a href="blog-post.html" class="image"><img src="images/post-1.jpg" alt="image"></a>
                            <div class="article-category"><a href="#" class="text-green isThemeText">Architecture</a></div>
                            <h3 class="osLight"><a href="blog-post.html">Modern Two-Level Pool House in Los Angeles</a></h3>
                            <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 1, 2014</a></div>
                        </div>
                    </div>
                </div>
                <div class="blog-pagination">
                    <a href="#" class="btn btn-o btn-round btn-green isThemeBtn"><span class="fa fa-angle-left"></span> Older Articles</a>
                    <a href="#" class="btn btn-o btn-round btn-green pull-right isThemeBtn">Newer Articles <span class="fa fa-angle-right"></span></a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Categories</h2>
                        <ul class="blog-r-nav">
                            <li><a href="#">Apartments (13)</a></li>
                            <li><a href="#">Architecture (12)</a></li>
                            <li><a href="#">Bedroom (25)</a></li>
                            <li><a href="#">Furniture (34)</a></li>
                            <li><a href="#">Ideas (56)</a></li>
                            <li><a href="#">Kitchen (16)</a></li>
                            <li><a href="#">Living Room (28)</a></li>
                            <li><a href="#">Living Room (39)</a></li>
                            <li><a href="#">Bathroom (21)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Archive</h2>
                        <ul class="blog-r-nav">
                            <li><a href="#">October 2014</a></li>
                            <li><a href="#">September 2014</a></li>
                            <li><a href="#">August 2014</a></li>
                            <li><a href="#">July 2014</a></li>
                            <li><a href="#">June 2014</a></li>
                            <li><a href="#">May 2014</a></li>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Popular Tags</h2>
                        <div class="blog-tags">
                            <a href="#" class="label label-default">furniture</a><a href="#" class="label label-default">architect</a><a href="#" class="label label-default">chair</a><a href="#" class="label label-default">modern</a><a href="#" class="label label-default">bathroom</a><a href="#" class="label label-default">table</a><a href="#" class="label label-default">sofa</a><a href="#" class="label label-default">bed</a><a href="#" class="label label-default">design</a><a href="#" class="label label-default">apartment</a><a href="#" class="label label-default">leather</a><a href="#" class="label label-default">lamp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
