<div class="article-content" ui-view>
    <div class="blog-content">
        <div class="home-wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="osLight">Последние статьи</h2>
                        </div>
                        <div class="col-lg-3">
                            <a href="javascript:void(0);"
                               class="btn btn-default pull-right"
                               ng-click="vm.addArticle()">
                                Add article
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="article">
                                <a ui-sref="main.articles.detail({id: 1})" class="image">
                                    <img src="assets/images/1345453844_01.jpg" alt="image">
                                </a>
                                <div class="article-category"></div>
                                <h3 class="osLight">
                                    <a href="">Польские концлагеря для русских и немцев, или За что извинялся Обама?</a>
                                </h3>
                                <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                                <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="article">
                                <a href="" class="image">
                                    <img src="assets/images/auschwitz-1-01.jpg" alt="image">
                                </a>
                                <div class="article-category"></div>
                                <h3 class="osLight">
                                    <a href="">Виталий Чуркин напомнил постпреду Польши при ООН, кто освободил концлагерь в Освенциме</a>
                                </h3>
                                <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                                <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="article">
                                <a href="" class="image">
                                    <img src="assets/images/1345453844_01.jpg" alt="image">
                                </a>
                                <div class="article-category"></div>
                                <h3 class="osLight">
                                    <a href="">Польские концлагеря для русских и немцев, или За что извинялся Обама?</a>
                                </h3>
                                <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                                <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="article">
                                <a href="" class="image">
                                    <img src="assets/images/auschwitz-1-01.jpg" alt="image">
                                </a>
                                <div class="article-category"></div>
                                <h3 class="osLight">
                                    <a href="">Виталий Чуркин напомнил постпреду Польши при ООН, кто освободил концлагерь в Освенциме</a>
                                </h3>
                                <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                                <div class="footer"><a href="#">John Smith</a>, <a href="#">Sep 4, 2014</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-pagination">
                        <a href="#" class="btn btn-o btn-round btn-green isThemeBtn"><span class="fa fa-angle-left"></span> Older Articles</a>
                        <a href="#" class="btn btn-o btn-round btn-green pull-right isThemeBtn">Newer Articles <span class="fa fa-angle-right"></span></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <h2 class="osLight h-r">Categories</h2>
                            <ul class="blog-r-nav">
                                <li><a href="#">Apartments (13)</a></li>
                                <li><a href="#">Architecture (12)</a></li>
                                <li><a href="#">Bedroom (25)</a></li>
                                <li><a href="#">Furniture (34)</a></li>
                                <li><a href="#">Ideas (56)</a></li>
                                <li><a href="#">Kitchen (16)</a></li>
                                <li><a href="#">Living Room (28)</a></li>
                                <li><a href="#">Living Room (39)</a></li>
                                <li><a href="#">Bathroom (21)</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <h2 class="osLight h-r">Archive</h2>
                            <ul class="blog-r-nav">
                                <li><a href="#">October 2014</a></li>
                                <li><a href="#">September 2014</a></li>
                                <li><a href="#">August 2014</a></li>
                                <li><a href="#">July 2014</a></li>
                                <li><a href="#">June 2014</a></li>
                                <li><a href="#">May 2014</a></li>
                                <li><a href="#">April 2014</a></li>
                                <li><a href="#">March 2014</a></li>
                                <li><a href="#">February 2014</a></li>
                                <li><a href="#">January 2014</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
