<div class="home-content">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="post-top">
                    <div class="post-author">
                        <img src="assets/images/avatar-1.png" alt="avatar">
                        <div class="pa-user">
                            <div class="pa-name">John Smith on Sep 4, 2014</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="post-share">
                        <div class="ps-social"><a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-blue"><span class="fa fa-linkedin"></span></a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-content">
                    <div class="image-block">
                        <img src="assets/images/1345453844_01.jpg" alt="blog image">
                        <div class="ib-title"><span class="osLight">Польские концлагеря для русских и немцев, или За что извинялся Обама?</span></div>
                    </div>
                    <p>В октябре этого года польский суд начнет слушания по делу немецкой газеты «Die Welt». Несколько лет назад в одной из статей ее авторы использовали словосочетание «польский концентрационный лагерь». Поэтому осенью польская сторона собирается засудить и оскандалить «обнаглевших» немцев. Столь же решительно, как этим летом американцев. За использованное президентом США Бараком Обамой словосочетание «польский лагерь смерти». МИД Польши и его глава Радек Сикорский потребовали извинений и отослали в Вашингтон ноту протеста, без обиняков обвинив президента США в «невежестве» и одновременно выразив сожаление в связи с его «некомпетентностью»! Премьер-министр Польши Дональд Туск также заявил, что поляки глубоко оскорблены, столкнувшись с «высокомерием, невежеством и дурными намерениями», которые «приводят к искажению истории». </p>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <blockquote>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</blockquote>

                    <h2 class="osLight">The standard chunk of Lorem Ipsum used</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
                <div class="f-pn-articles">
                    <a href="#" class="f-p-article">
                        <div class="fpna-title">Previous article</div>
                        <span class="fpna-header">Why Green Architecture Is The Perfect Investment for Your Home</span>
                        <span class="fa fa-angle-left pull-left pn-icon"></span>
                    </a>
                    <a href="#" class="f-n-article">
                        <div class="fpna-title">Next article</div>
                        <span class="fpna-header">Practical Lighting Size &amp; Placement Guide for Every Corner of the House</span>
                        <span class="fa fa-angle-right pull-right pn-icon"></span>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <om-comment entity-id="vm.article.id"
                                    entity-type="ArticleServiceComment"
                                    auth-user="authUser"></om-comment>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Categories</h2>
                        <ul class="blog-r-nav">
                            <li><a href="#">Apartments (13)</a></li>
                            <li><a href="#">Architecture (12)</a></li>
                            <li><a href="#">Bedroom (25)</a></li>
                            <li><a href="#">Furniture (34)</a></li>
                            <li><a href="#">Ideas (56)</a></li>
                            <li><a href="#">Kitchen (16)</a></li>
                            <li><a href="#">Living Room (28)</a></li>
                            <li><a href="#">Living Room (39)</a></li>
                            <li><a href="#">Bathroom (21)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Archive</h2>
                        <ul class="blog-r-nav">
                            <li><a href="#">October 2014</a></li>
                            <li><a href="#">September 2014</a></li>
                            <li><a href="#">August 2014</a></li>
                            <li><a href="#">July 2014</a></li>
                            <li><a href="#">June 2014</a></li>
                            <li><a href="#">May 2014</a></li>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>