<div class="home-content">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="post-top">
                    <div class="post-author">
                        <img ng-src="{{vm.article.user.image}}" alt="avatar">
                        <div class="pa-user">
                            <div class="pa-name">{{vm.article.user.name}} on Sep 4, 2014</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="post-share">
                        <div class="ps-social"><a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter"><span class="fa fa-twitter"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google"><span class="fa fa-google-plus"></span></a> <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-blue"><span class="fa fa-linkedin"></span></a></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-content">
                    <div class="image-block">
                        <img ng-src="{{vm.article.image}}" alt="blog image">
                        <div class="ib-title"><span class="osLight">{{vm.article.title}}</span></div>
                    </div>
                    <div froala-view="vm.article.fullDescription"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <om-comment entity-id="vm.article.id"
                                    entity-type="ArticleServiceComment"
                                    auth-user="authUser"></om-comment>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h2 class="osLight h-r">Archive</h2>
                        <ul class="blog-r-nav">
                            <li><a href="#">October 2014</a></li>
                            <li><a href="#">September 2014</a></li>
                            <li><a href="#">August 2014</a></li>
                            <li><a href="#">July 2014</a></li>
                            <li><a href="#">June 2014</a></li>
                            <li><a href="#">May 2014</a></li>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
