<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="vm.closeModal()">
        <span>×</span>
    </button>
    <h4 class="modal-title">{{::vm.title}}</h4>
</div>

<div class="modal-body">
    <form role="form" name="vm.saveArticleForm" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title" class="control-label">
                        Title
                        <span class="text-red">*</span>
                    </label>
                    <input type="text"
                           class="form-control"
                           name="title"
                           autocomplete="off"
                           id="title"
                           placeholder="Title"
                           required
                           ng-model="vm.article.title">
                    <div ng-messages="vm.saveArticleForm.lastName.$error" ng-if="vm.submitted">
                        <p ng-message="required" class="help-block">Заголовок статьи обязателен для заполнения.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <a class="btn btn-green"
                       accept="image/*"
                       ngf-select="vm.uploadImage($file)"
                       ngf-pattern="'image/*'">
                        <i class="fa fa-picture-o"></i>&nbsp;&nbsp;
                        {{::'veteran.modal.btn.addPhotos' | translate}}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <span class="text-muted text-center">{{vm.article.image}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="shortDescription">Short description</label>
                    <textarea id="shortDescription"
                              class="form-control"
                              placeholder="Short description"
                              name="shortDescription"
                              rows="6"
                              ng-model="vm.article.shortDescription"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="fullDescription">Full description</label>
                    <textarea id="fullDescription"
                              name="fullDescription"
                              rows="6"
                              froala="{language: 'ru', heightMin: 200}"
                              ng-model="vm.article.fullDescription"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="clearfix">
        <a class="btn btn-blue"
           ng-click="vm.saveArticle(vm.saveArticleForm.$valid)"
           ng-disabled="vm.sendingData">
            <i class="fa fa-spinner fa-spin" ng-if="vm.sendingData"></i> {{::vm.btnSaveText}}
        </a>
    </div>
</div>
