<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ui-sref="home" class="navbar-brand">Our <b>Memory</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                </form>
            </div>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="home.veterans">Veterans</a>
                    </li>
                    <li ui-sref-active="active" ng-if="authenticated">
                        <a ui-sref="home.articles">Articles</a>
                    </li>
                    <li ui-sref-active="active" ng-if="authenticated">
                        <a ui-sref="home.profile">{{authUser.email}}</a>
                    </li>
                    <li ui-sref-active="active" ng-if="!authenticated">
                        <a ui-sref="home.login">Login</a>
                    </li>
                    <li ui-sref-active="active" ng-if="!authenticated">
                        <a ui-sref="home.register">Register</a>
                    </li>
                    <li ng-if="authenticated">
                        <a ng-href="#" ng-click="vm.logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
