<div class="{{ baseClass }}">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="i in images">
        <div class="thumbnail" style="cursor: pointer;">
            <img class="img-responsive" ng-src="{{ i.thumb }}" ng-click="openGallery($index)"
                 alt="Image {{ $index + 1 }}" style="height: 195px;">
        </div>
    </div>
</div>
<div class="ng-overlay" ng-show="opened">
</div>
<div class="ng-gallery-content" unselectable="on" ng-show="opened" ng-swipe-left="nextImage()"
     ng-swipe-right="prevImage()">
    <div class="uil-ring-css" ng-show="loading">
        <div></div>
    </div>
    <a href="{{getImageDownloadSrc()}}" target="_blank" ng-show="showImageDownloadButton()" class="download-image"><i
            class="fa fa-download"></i></a>
    <a class="close-popup" ng-click="closeGallery()"><i class="fa fa-close"></i></a>
    <a class="nav-left" ng-click="prevImage()"><i class="fa fa-angle-left"></i></a>
    <img ondragstart="return false;" draggable="false" ng-src="{{ img }}" ng-click="nextImage()" ng-show="!loading"
         class="effect"/>
    <a class="nav-right" ng-click="nextImage()"><i class="fa fa-angle-right"></i></a>
    <div class="ng-thumbnails-wrapper">
        <div class="ng-thumbnails slide-left">
            <div ng-repeat="i in images">
                <img ng-src="{{ i.thumb }}" ng-class="{'active': index === $index}" ng-click="changeImage($index)"/>
            </div>
        </div>
    </div>
</div>