/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */

@import (inline) '../css/AdminLTE.css';
@import (inline) '../css/skin-green.css';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

@navbar-inverse-link-color: #f5faff;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

button {
  outline: none!important;
}

body {
  background-color: #ecf0f5;
}

.main-header {
  & > .navbar {
    margin-left: 0;
  }
}

.main-sidebar {
  width: 0;
}

.content-wrapper {
  margin-left: 0;
}

.main-footer {
  margin-left: 0;
}
