<div id="wrapper" resize>
    <div id="mapView" resize>
        <div class="mapPlaceholder">
            <span class="fa fa-spin fa-spinner"></span>&nbsp;Загрузка карты...
        </div>
        <ui-gmap-google-map center='vm.gMap.map.center'
                            zoom='vm.gMap.map.zoom'
                            options="vm.gMap.map.options"
                            events="vm.gMap.map.events">
            <ui-gmap-marker ng-repeat="veteran in vm.veterans"
                            idkey="veteran.id"
                            coords="veteran.marker.position"
                            options="vm.markerOptions"
                            events="veteran.marker.events"
                            click="vm.infoBoxWindowOptions.showInfoBoxWindow(vm.veterans, veteran)">
                <ui-gmap-window show="veteran.marker.visible"
                                templateUrl="vm.infoBoxWindowOptions.template"
                                templateParameter="{'veteran': veteran, 'closeInfoBoxWindow': vm.infoBoxWindowOptions.closeInfoBoxWindow, 'defaultVeteranImage': defaultVeteranImage}"
                                options="vm.infoBoxWindowOptions.options"
                                ng-cloak>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div id="content" resize>
        <div class="filter">
            <h1 class="osLight">Поиск</h1>

            <div class="btn btn-sm btn-blue createVeteran" ng-click="vm.showModalSaveVeteran()" ng-if="authUser">
                <i class="fa fa-plus"></i>&nbsp;Добавить ветерана
            </div>

            <a href="javascript:void(0);" class="handleFilter" ng-click="vm.showAdvancedFilter = !vm.showAdvancedFilter">
                <span class="icon-equalizer"></span>
            </a>

            <div class="clearfix"></div>

            <div class="filterForm">
                <div uib-collapse="vm.showAdvancedFilter">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Имя</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Имя"
                                       ng-model="vm.search.firstName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Фамилия</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Фамилия"
                                       ng-model="vm.search.lastName">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Отчество</label>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Отчество"
                                       ng-model="vm.search.middleName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="form-group">
                                <label>Место рождения</label>
                                <google-place-autocomplete location="vm.search.birthPlace"
                                                           title="Введите место рождения"></google-place-autocomplete>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 formItem">
                            <div class="formField">
                                <label>Род войск</label>
                                <om-dropdown
                                        placeholder="Род войск"
                                        list="vm.troopsList"
                                        property="title"
                                        selected="vm.search.troops"
                                        classes="btn btn-gray dropdown-btn">
                                </om-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="vm.search.yearBirth.options.disabled"
                                               ng-true-value="false"
                                               ng-false-value="true">
                                        <span class="fa fa-check"></span> Год рождения
                                    </label>
                                </div>
                                <rzslider
                                        rz-slider-model="vm.search.yearBirth.start"
                                        rz-slider-high="vm.search.yearBirth.end"
                                        rz-slider-options="vm.search.yearBirth.options"></rzslider>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="vm.search.yearDeath.options.disabled"
                                               ng-true-value="false"
                                               ng-false-value="true">
                                        <span class="fa fa-check"></span> Год смерти
                                    </label>
                                </div>
                                <rzslider
                                        rz-slider-model="vm.search.yearDeath.start"
                                        rz-slider-high="vm.search.yearDeath.end"
                                        rz-slider-options="vm.search.yearDeath.options"></rzslider>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="checkbox custom-checkbox">
                                    <label>
                                        <input type="checkbox"
                                               ng-model="vm.search.yearCall.options.disabled"
                                               ng-true-value="false"
                                               ng-false-value="true">
                                        <span class="fa fa-check"></span> Год призыва
                                    </label>
                                </div>
                                <rzslider
                                        rz-slider-model="vm.search.yearCall.start"
                                        rz-slider-high="vm.search.yearCall.end"
                                        rz-slider-options="vm.search.yearCall.options"></rzslider>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <a href="javascript:void(0);" class="btn btn-sm btn-green" ng-click="vm.applySearch()">Поиск</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="resultsList">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                     ng-repeat="veteran in vm.veterans track by $index">

                    <div class="card"
                         ui-sref="main.veterans.detail({id: veteran.id})"
                         ng-mouseenter="vm.showInfoBoxWindowVeteran(veteran)"
                         ng-mouseleave="vm.hideInfoBoxWindowVeteran(veteran)">
                        <div class="figure">
                            <img ng-src="{{veteran.images.length && veteran.images[0].imageOriginal || defaultVeteranImage}}" alt="image">
                            <div class="figCaption">
                                <span class="glyphicon glyphicon-pencil pull-left"
                                      ng-if="authUser.role === 'Admin' || authUser.userId === veteran.userId"
                                      ng-click="vm.editVeteran($event, veteran)"></span>
                                <span class="glyphicon glyphicon-trash pull-left"
                                      ng-if="authUser.role === 'Admin' || authUser.userId === veteran.userId"
                                      ng-click="vm.deleteVeteran($event, veteran.id)"></span>
                                <span class="icon-eye">&nbsp;{{veteran.views}}</span>
                            </div>
                        </div>
                        <h2>{{veteran.fullName}}</h2>
                        <div class="cardAddress description">{{veteran.description}}</div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <uib-pagination class="pagination-sm"
                            total-items="vm.totalCount"
                            ng-model="vm.currentPage"
                            items-per-page="vm.maxItemsToPage"
                            direction-links="false"
                            max-size="7"
                            ng-if="vm.totalCount && ((vm.totalCount / vm.maxItemsToPage) > 1)"
                            ng-change="vm.changePage()"></uib-pagination>
            <p class="text-center text-muted" ng-if="!vm.totalCount">Список ветеранов пуст</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
