<div id="wrapper" resize>
    <div id="mapView" resize>
        <div class="mapPlaceholder">
            <span class="fa fa-spin fa-spinner"></span>&nbsp;Загрузка карты...
        </div>
        <ui-gmap-google-map center='vm.gMap.map.center'
                            zoom='vm.gMap.map.zoom'
                            options="vm.gMap.map.options"
                            events="vm.gMap.map.events">
            <ui-gmap-marker ng-repeat="veteran in vm.veterans"
                            idkey="veteran.id"
                            coords="veteran.marker.position"
                            options="vm.markerOptions"
                            events="veteran.marker.events"
                            click="vm.infoBoxWindowOptions.showInfoBoxWindow(vm.veterans, veteran)">
                <ui-gmap-window show="veteran.marker.visible"
                                templateUrl="vm.infoBoxWindowOptions.template"
                                templateParameter="{'veteran': veteran, 'closeInfoBoxWindow': vm.infoBoxWindowOptions.closeInfoBoxWindow, 'defaultVeteranImage': defaultVeteranImage}"
                                options="vm.infoBoxWindowOptions.options"
                                ng-cloak>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div id="content" resize>
        <div class="filter">
            <h1 class="osLight">Поиск</h1>

            <div class="btn btn-sm btn-blue createVeteran" ng-click="vm.showModalSaveVeteran()" ng-if="authUser">
                <i class="fa fa-plus"></i>&nbsp;Добавить ветерана
            </div>

            <a href="javascript:void(0);" class="handleFilter" ng-click="vm.showAdvancedFilter = !vm.showAdvancedFilter">
                <span class="icon-equalizer"></span>
            </a>

            <div class="clearfix"></div>

            <div class="filterForm">
                <div uib-collapse="vm.showAdvancedFilter">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 formItem">
                            <div class="formField">
                                <label>Bathrooms</label>
                                <om-dropdown
                                        placeholder="Bathrooms"
                                        list="vm.filterOptions.dropdownn"
                                        property="name"
                                        selected="vm.selected"
                                        classes="btn btn-gray dropdown-btn">
                                </om-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 formItem">
                            <div class="formField">
                                <label>Дата рождения</label>
                                <rzslider
                                        rz-slider-model="vm.filterOptions.slider.min"
                                        rz-slider-high="vm.filterOptions.slider.max"
                                        rz-slider-options="vm.filterOptions.slider.options"></rzslider>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group"><label>Amenities</label>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="garage" value="1">
                                                <span class="fa fa-check"></span> Garage</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="security_system" value="1">
                                                <span class="fa fa-check"></span> Security System</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="air_conditioning" value="1">
                                                <span class="fa fa-check"></span> Air Conditioning</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="balcony" value="1">
                                                <span class="fa fa-check"></span> Balcony</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="outdoor_pool" value="1">
                                                <span class="fa fa-check"></span> Outdoor Pool</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="checkbox custom-checkbox">
                                            <label><input type="checkbox" name="internet" value="1">
                                                <span class="fa fa-check"></span> Internet</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="resultsList">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"
                     ng-repeat="veteran in vm.veterans track by $index">

                    <div class="card"
                         ui-sref="main.veterans.detail({id: veteran.id})"
                         ng-mouseenter="vm.showInfoBoxWindowVeteran(veteran)"
                         ng-mouseleave="vm.hideInfoBoxWindowVeteran(veteran)">
                        <div class="figure">
                            <img ng-src="{{veteran.images.length && veteran.images[0].imageOriginal || defaultVeteranImage}}" alt="image">
                            <div class="figCaption">
                                <span class="glyphicon glyphicon-pencil pull-left"
                                      ng-if="authUser.role === 'Admin' || authUser.userId === veteran.userId"
                                      ng-click="vm.editVeteran($event, veteran)"></span>
                                <span class="glyphicon glyphicon-trash pull-left"
                                      ng-if="authUser.role === 'Admin' || authUser.userId === veteran.userId"
                                      ng-click="vm.deleteVeteran($event, veteran.id)"></span>
                                <span class="icon-eye">&nbsp;{{veteran.views}}</span>
                            </div>
                        </div>
                        <h2>{{veteran.fullName}}</h2>
                        <div class="cardAddress description">{{veteran.description}}</div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <uib-pagination class="pagination-sm"
                            total-items="vm.totalCount"
                            ng-model="vm.currentPage"
                            items-per-page="vm.maxItemsToPage"
                            direction-links="false"
                            max-size="7"
                            ng-if="vm.totalCount && ((vm.totalCount / vm.maxItemsToPage) > 1)"
                            ng-change="vm.pageChanged()"></uib-pagination>
            <p class="text-center text-muted" ng-if="!vm.totalCount">Список ветеранов пуст</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>