<div id="wrapper" resize>
    <div id="mapView" google-map resize>
        <div class="mapPlaceholder">
            <span class="fa fa-spin fa-spinner"></span> Loading map...
        </div>
    </div>
    <div id="content" resize>
        <div class="filter">
            <h1 class="osLight">Поиск</h1>

            <div class="btn btn-sm btn-blue createVeteran"
                 ng-click="vm.showModalCreateVeteran()">
                <i class="fa fa-plus"></i> Добавить ветерана
            </div>
            <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>

            <div class="clearfix"></div>
        </div>
        <div class="resultsList">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="veteran in vm.veterans track by $index">
                    <a ui-sref="home.veterans.detail({id: veteran.id})" class="card">
                        <div class="figure">
                            <img ng-src="{{veteran.images[0]['thumbnailImage']}}" alt="image">

                            <div class="figCaption">
                                <div>$1,750,000</div>
                                <span class="icon-eye"> 175</span>
                                <span class="icon-heart"> 67</span>
                                <span class="icon-bubble"> 9</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                            <div class="figType">For Rent</div>
                        </div>
                        <h2>{{veteran.lastName + ' ' + veteran.firstName + ' ' + veteran.middleName}}</h2>

                        <div class="cardAddress"><span class="icon-pointer"></span> 169 Warren St, Brooklyn, NY 11201,
                            USA
                        </div>
                        <div class="cardRating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            (123)
                        </div>
                        <ul class="cardFeat">
                            <li><span class="fa fa-moon-o"></span> 2</li>
                            <li><span class="icon-drop"></span> 2</li>
                            <li><span class="icon-frame"></span> 4430 Sq Ft</li>
                        </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="single.html" class="card">
                        <div class="figure">
                            <img src="http://www.veteran.by/vetcimages/thumb/001073_954703.jpg" alt="image">

                            <div class="figCaption">

                                <span class="icon-eye"> 200</span>

                                <span class="icon-bubble"> 13</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>

                        </div>
                        <h2>Александр Иванович СЛОБОДА</h2>
                        <div class="cardAddress" style="text-align: justify; white-space: normal;">
                            <span class="icon-pointer"></span>
                            Я родилась 25 августа 1933 года в деревне Шушары под Ленинградом. Отец как и многие
                            жители нашей деревни, работал на Ижорском заводе рабочим ...
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="single.html" class="card">
                        <div class="figure">
                            <img src="http://www.veteran.by/vetcimages/001073_210741.jpg" alt="image">
                            <div class="figCaption">

                                <span class="icon-eye"> 175</span>

                                <span class="icon-bubble"> 9</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                        </div>
                        <h2>Лозичная Мария Зосимовна</h2>
                        <div class="cardAddress" style="text-align: justify; white-space: normal;">
                            <span class="icon-pointer"></span>
                            Я родилась 27 сентября 1921 года деревне Липово.
                            Сейчас она входит в состав Соснового Бора. Отец работал приемщиком.
                            Отец работал приемщиком ...
                        </div>
                    </a>
                </div>
            </div>
            <ul class="pagination">
                <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>