<div class="album-container container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header clearfix">
                <div class="pull-left">
                    <h3>
                        {{'album.title' | translate}}
                    </h3>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" class="btn btn-gray" ng-click="vm.saveAlbum()">
                        {{'album.btn.addAlbum' | translate}}
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-6" ng-repeat="album in vm.albumList.albums">
            <a ui-sref="main.albums.detail({id: album.id})" class="propWidget-1">
                <div class="fig">
                    <img ng-src="{{::album.image}}" alt="image">
                    <div class="priceCap">
                            <span>
                                <i class="fa fa-user"></i>&nbsp;
                                {{album.user.firstName && album.user.lastName ? album.user.firstName + ' ' + album.user.lastName : album.user.username}}
                                &nbsp;&nbsp;
                                <i class="fa fa-picture-o"></i>&nbsp;{{::album.countPhoto}}
                                &nbsp;&nbsp;
                                <i class="fa fa-eye"></i>&nbsp;{{::album.views}}
                                <i class="fa fa-trash pull-right"
                                   ng-click="vm.deleteAlbum($event, album.id, $index)"
                                   ng-if="authUser.id === album.user.id || authUser.role === 'Admin'"></i>
                                <i class="fa fa-pencil pull-right"
                                   ng-click="vm.editAlbum($event, album)"
                                   ng-if="authUser.id === album.user.id || authUser.role === 'Admin'"></i>
                            </span>
                    </div>
                    <div class="figCap">
                        <h3>{{::album.title}}</h3>
                        <div class="address">
                            {{::album.description}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>