<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeModal()">
        <span>×</span>
    </button>
    <h4 class="modal-title">
        <b>{{::vm.veteran.fullName}}</b>
    </h4>
</div>
<div class="modal-body">
    <div class="veteranInformation">
        <div class="row shortDescription">
            <div class="col-md-4 text-center">
                <div class="photo">
                    <img class="img-circle" ng-src="{{vm.veteran.images[0].imageOriginal}}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <table class="table no-bordered">
                    <tbody class="table">
                    <tr>
                        <td><span class="userName">Место рождения:</span></td>
                        <td>{{::vm.veteran.birthPlace}}</td>
                    </tr>
                    <tr>
                        <td><span class="userName">Дата рождения:</span></td>
                        <td>{{::vm.veteran.dateBirth | amDateFormat:'D MMMM YYYY'}}</td>
                    </tr>
                    <tr>
                        <td><span class="userName">Награды:</span></td>
                        <td>{{::vm.veteran.awards}}</td>
                    </tr>
                    <tr>
                        <td><span class="userName">Дата призыва:</span></td>
                        <td>{{::vm.veteran.called | amDateFormat:'D MMMM YYYY'}}</td>
                    </tr>
                    <tr>
                        <td><span class="userName"></span></td>
                        <td>
                            <div class="ps-social">
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-twitter">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-google">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                                <a href="#" class="btn btn-sm btn-icon btn-round btn-o btn-blue">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row fullDescription">
            <div class="col-md-12">
                <markdown bind-from="vm.veteran.description"></markdown>
            </div>
        </div>
    </div>
</div>