<h2 class="osLight align-left"><span>4</span> Comments</h2>
<div class="post-comments">
    <div class="comment">
        <div class="commentAvatar">
            <img class="avatar" src="images/avatar-3.png" alt="avatar">
            <div class="commentArrow bg-w"><span class="fa fa-caret-left"></span></div>
        </div>
        <div class="commentContent bg-w">
            <div class="commentName">Rust Cohle</div>
            <div class="commentBody">
                It is a long established fact that a reader will be distracted by the readable content
            </div>
            <div class="commentActions">
                <div class="commentTime"><span class="icon-clock"></span> 1 day ago</div>
                <ul>
                    <li><a href="#"><span class="icon-action-undo"></span></a></li>
                    <li><a href="#"><span class="icon-like"></span> 13</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="comment reply">
        <div class="commentAvatar">
            <img class="avatar" src="images/avatar-1.png" alt="avatar">
            <div class="commentArrow bg-w"><span class="fa fa-caret-left"></span></div>
        </div>
        <div class="commentContent bg-w">
            <div class="commentName">John Smith</div>
            <div class="commentBody">
                Comment posted by me. I have the power to remove it.
            </div>
            <div class="commentActions">
                <div class="commentTime"><span class="icon-clock"></span> 2 hours ago</div>
                <ul>
                    <li><a href="#"><span class="fa fa-trash-o"></span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="comment">
        <div class="commentAvatar">
            <img class="avatar" src="images/avatar-5.png" alt="avatar">
            <div class="commentArrow bg-w"><span class="fa fa-caret-left"></span></div>
        </div>
        <div class="commentContent bg-w">
            <div class="commentName">Alex Rogers</div>
            <div class="commentBody">
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="commentActions">
                <div class="commentTime"><span class="icon-clock"></span> 20 minutes ago</div>
                <ul>
                    <li><a href="#"><span class="icon-action-undo"></span></a></li>
                    <li><a href="#"><span class="icon-like"></span> 13</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="comment">
        <div class="commentAvatar">
            <img class="avatar" src="images/avatar-2.png" alt="avatar">
            <div class="commentArrow bg-w"><span class="fa fa-caret-left"></span></div>
        </div>
        <div class="commentContent bg-w">
            <div class="commentName">Jane Smith</div>
            <div class="commentBody">
                Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            </div>
            <div class="commentActions">
                <div class="commentTime"><span class="icon-clock"></span> 5 minutes ago</div>
                <ul>
                    <li><a href="#"><span class="icon-action-undo"></span></a></li>
                    <li><a href="#"><span class="icon-like"></span> 13</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
